body {
  background-color: rgb(100, 240, 100);
  font-family: Impact;
}

#navbarD {
  display: flex;
  border: solid 10px lightgray;
  border-radius: 20px 20px 20px 20px;
  background-color: aliceblue;
  font-size: xx-large;
  font-family: Impact;
  justify-content: space-around;
}

#socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#discord {
  color: white;
  border-radius: 30px 30px 30px 30px;
  font-size: 30px;
  flex-direction: column;
  display: flex;
  border: solid 10px rgb(70, 70, 70);
  background-color: rgb(70, 70, 70);
  box-sizing: 10px;
}

#logo {
  border-radius: 30px 30px 30px 30px;
  align-self: center;
}

#newgrounds {
  color: Black;
  border-radius: 30px 30px 30px 30px;
  font-size: 30px;
  flex-direction: column;
  display: flex;
  border: solid 10px darkgoldenrod;
  background-color: darkgoldenrod;
  box-sizing: 10px;
}

#newLogo {
  border-radius: 30px 30px 30px 30px;
  align-self: center;
}

#twitter {
  color: rgb(0, 191, 255);
  border-radius: 30px 30px 30px 30px;
  font-size: 30px;
  flex-direction: column;
  display: flex;
  border: solid 10px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-sizing: 10px;
}

#toxic {
  border-radius: 30px 30px 30px 30px;
  align-self: center;
}
