body {

    background: rgb(32, 183, 83);
}
#navbarA {
    display: flex;
    border: solid 10px lightgray;
    border-radius: 20px 20px 20px 20px;
    background-color: aliceblue;
    font-size: xx-large;
    font-family: Impact;
    justify-content: space-around;
}

p {
    text-align: center;
    font-size: x-large;
    font-family: Fantasy;
}

Center {
    text-decoration: antiquewhite;
    background-color: rgb(0, 86, 0);
    Display: row;
    font-size: xxx-large;
    font-family: Impact;
}
